* { 
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    width:100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    background-color: #fff;
    display: flex;
    width: 100vw;
    height: 10vh;
    box-shadow: 0px 0px 16px 2px rgba(102, 102, 102, 0.1), 0px 0px 5px 1px rgba(102, 102, 102, 0.15); 
    overflow: hidden;
}
main {
    flex-grow: 1;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(25vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(25vw, 1fr));
    align-items: center;
    padding: 24px;
}
.page-header{ 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.page-header__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
    color: #FFB000;
    cursor: pointer;
}
.page-header__logo span {
    color: #333;
    font-size: 0.8rem;
}

.logo__title {
    font-size: 1.2  rem;
    transition: 0.2s;
}
.logo__title:hover {
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}
nav{ 
    display: flex;
    flex-direction: row;
    margin: 0 24px 0 auto;
}
nav .nav-options__button * {
    width: 100%;
    height: 100%;
    /* alinha o texto das opções no centro */
    margin: 0 8px 0 0;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-options__button:hover {
    background-color: #ddd;
    color: rgb(223, 103, 56);
}
footer{ 
    width: 100vw;
    margin-top: auto;
    border-top: 1px solid #ccc;
    background-color: #fff;
    padding: 5vh;
}
@media (max-width: 945px) {
    /*
    itens do menu em coluna
    AdoteAqui Suma
    */
    header{
        height: auto;
        flex-direction: column;
        flex-grow: 1;
    }
    header > * {
        width: 100%;
    }

    main { 
        margin-top: 24px;
        margin-bottom: 24px;
        grid-template-columns: 90vw;
        /* grid-template-rows: repeat(auto-fill, 90vw); */
        padding: 0;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        

    }

    nav {
        margin-top: 24px;
        flex-direction: column;

    }

    .page-header__logo{
        display: none
    }
    .page-header__nav-options{
        margin: 0;
        width: 100%;
        margin-top: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .nav-options__button{
        /*sobrescreve margin global*/
        margin: 8px 0 8px 0;
        padding: 8px 16px;
    }
    footer{
        margin: auto 0 0 0;
 
        align-self: flex-end;
    }

}
